@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Just+Me+Again+Down+Here&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.header {
  background-color: black;
  border-bottom: 3px solid #8B0000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: #8B0000;
}

.social-icons {
  display: flex;
  gap: 15px;
  border-left: 2px solid white;
  padding-left: 15px;
}

.social-icons a {
  color: white;
  font-size: 1.8rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #8B0000;
}


/* Seção de cortes */
.cortes {
  text-align: center;
  padding: 2rem 1rem;
}

.titulo-cortes {
  position: relative;
  display: inline-block;
  font-family: Italianno;
  font-size: 3.5rem;
}

.titulo-cortes::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #c80000;
  margin: 0.5rem auto 0;
}

.cortes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas fixas */
  gap: 2rem;
  max-width: 1000px;
  margin: 2rem auto 0; /* espaçamento do título para o grid */
}

.corte {
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Importante se tiver textos abaixo da imagem */
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 1rem;
}

.corte img {
  max-width: 100%;
  height: auto;
  border-radius: 20px; /* Diminui o radius pra não ficar muito exagerado */
  border: 1px solid #c80000;
  margin-top: 10px;
  display: block;
  object-fit: contain;
 
  
}
.corte img:hover {
  transform: scale(1.05); /* pequeno zoom ao passar o mouse */
}

.corte h3 {
  color: #c80000;
  margin-top: 30px;
  font-size: 0.9rem;
  font-weight: bold;
}

.corte p {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #ddd;
  margin: 0;
}
